<?xml version="1.0" encoding="UTF-8"?>
<Configuration >
    <Properties>
        <Property name="filename">./log/lab7.log</Property>
        <Property name="filenamePattern">log/lab7-%i.log</Property>
        <Property name="pattern">%d{ISO8601} %-5p [%t]: %-36.36c{1} - %m %n
        </Property>
    </Properties>

    <Appenders>
        <!-- ======= -->
        <!-- CONSOLE -->
        <!-- ======= -->
        <!--<Console name="Console" target="SYSTEM_OUT">-->
            <!--<PatternLayout pattern="${pattern}"/>-->
        <!--</Console>-->
        <!-- ========= -->
        <!-- ROOT File -->
        <!-- ========= -->
        <File name="File" fileName="${filename}">
            <PatternLayout>
                <pattern>%d{ISO8601} %-5p [%t]: %-36.36c{1} - %m %n</pattern>
                <!-- %d %p %C{1.} [%t] %m%n -->
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>

        <!-- Spring framework -->
        <!--<Logger name="org.hibernate.stat" level="INFO" />-->
        <Logger name="org.springframework.data" level="TRACE"/>
        <Logger name="org.springframework.web" level="TRACE"/>
        <Logger name="org.springframework.http.converter.json" level="TRACE"/>
        <Logger name="com.fasterxml.jackson.databind" level="TRACE"/>
        <Logger name="ro.ubb.lab7" level="TRACE"/>
        <Logger name="ro.ubb.lab7.web.controller" level="TRACE"/>
        <!-- ROOT -->
        <Root level="WARN">
            <!--<AppenderRef ref="Console"/>-->
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>