<div *ngIf="selectedAssignment">
  <h2>
    Assignment with id {{selectedAssignment.id}} was selected
  </h2>
  <button (click)="gotoDetails()">View details</button>
</div>

<div>
    <h3>
        Add a assignment:
    </h3>
    <label>Assignment studentId:
        <input #studentId />
      </label><br>
      <label>Assignment problemId:
        <input #problemId />
      </label>
      <!-- (click) passes input value to add() and then clears the input -->
      <button (click)="add(studentId.value, problemId.value); studentId.value=''; problemId.value=''">
        Add
      </button>
</div>

  <h2>Assignments</h2>
  <ol class="assignments">
    <li *ngFor="let assignment of assignments"
        [class.selected]="assignment === selectedAssignment"
        (click)="onSelect(assignment)">
      {{assignment.id}}
      <button class="delete" title="delete assignment"
      (click)="delete(assignment)">x</button>
    </li>
  </ol>

